{{define "billboards"}}
<!DOCTYPE html>
<html>
<head>
    <title>Billboards List</title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/role">Home</a>
        </div>
        </nav>
    <h1>Role: {{.Role}}</h1>
    <h2>Billboards List</h2>
    <ul>
        {{range .Billboards}}
            <li>
                <strong>ID:</strong> {{.Id}}, 
                <strong>Relevance:</strong> {{.Relevance}}, 
                <strong>Description:</strong> {{.Description}}, 
                <strong>City:</strong> {{.City}}, 
                <strong>Age Limit:</strong> {{.Age_limit}}
            </li>
        {{end}}
    </ul>
</body>
</html>
{{end}}
